/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS Reset Above*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

html {
    background-color: rgba(122, 191, 191, .5);
}

h1,h2,h3,footer,nav li,menu li,#social li {
    font-family: 'Bebas Neue', sans-serif;
}

p,dd,li,nav,input {
    font-family: 'Montserrat', sans-serif;
}

dt {
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}


@media screen and (max-width:836px) {

header,main,footer,nav {
    background-color: #f2f2f2;
    width:414px;
    margin:auto;
}


nav {
    display:block;
    background-color: #f2f2f2;
    position:fixed;
    top:0;
    left:18.1%;
    width:416px;
    height: 100px;
    box-shadow: 0 4px 2px -2px gray;
}


nav li {
    list-style: none;
}


nav h2 {
    visibility: hidden;
}

nav img {
    display:none;
}

/*menu nav attempt...*/

.dropbtn {
    position:fixed;
    top:0%;
    padding:25px;
    border:none;
    cursor:pointer;
    width:75px;
    height:100px;
}

.dropdowncontent .navigation {
    padding-top:100px;
    z-index:0;
    position:absolute;
    min-width:75px;
    display:none;

}

.dropdowncontent a {
    padding: 12px 16px;
    display:block;
    text-decoration:none;
    color:#eb5428;
    background-color:#f2f2f2;
}

.dropdown-content a:hover {
    background-color: #eb5428;
    color:#f2f2f2;
}

.dropdownmenu:hover .dropdowncontent .navigation {
  display: block;
}


/*menu nav fin*/

/*Header Icons Positioning*/
nav ul li:first-of-type {
    position:fixed;
    background-color:#eb5428;
    top:0;
    right:40%;
}
nav ul li:last-of-type {
    position:fixed;
    top:0;
    right:25%;
}

/*Header Icons Positioning*/

header h1 {
    padding-left:100px;
    font-size: 40px;
    padding-top: 200px;
}

#search {
    position:absolute;
    align-items:center;
    display:flex;
    margin-inline: auto;
    top: 145px;
    left:8%;
}

#search input {
    border-style: none;
    width: 300px;
    height:40px;
    border: 2px solid #eb5428;
    justify-content:right;
    margin:0;
}

#search button {
    border-style:none;
    margin:0;
    height:40px;
    background-color:#eb5428;
}

menu {
    position: absolute;
    top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #f2f2f2;
    width:414px;
    height: 50px;
    
}
menu li {
    list-style: none;
    padding-left: 35px;
}

main img:first-of-type {
    width:414px;
} 

#introduction h2 {
    visibility:hidden;
}

#introduction p {
    margin: 10px;
}

#details h2 {
    padding-left:40%;
    margin:10px;
    font-weight: bold;
}


#details dl {
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
}


#Ingredients h2 {
    padding-left:37%;
    margin:5px;
    font-weight: bold;
}

#Ingredients li {
    margin: 5px;
    list-style: square;
}

#Ingredients ul {
    padding-left: 15px;
    margin: 10px;
}

#directions h2 {
    padding-left:37%;
    margin:5px;
    font-weight: bold;
}

#directions ol {
    list-style: decimal;
    padding-left: 15px;
    margin: 10px;
}

#directions li {
    margin: 5px;
}

#sides h2 {
    margin:0;
}

#sides {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
    background-color: #7abfbf;
}

#sides h2 {
    padding-left:25%;
    margin:5px;
    font-weight: bold;
}

#sides section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#sides img {
    width:100px;
    height:100px;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    position:relative;
    top: -25%;
}

#sides h3 {
    grid-column-start:2;
    grid-column-end:2;
    margin-bottom:10px;
}

#sides p {
    margin-bottom: 10px;
}

#sides div h3{
    margin-top:15px;
    font-weight:bold;
}

#sides h3 {
   position:relative;
   top:15%;
   font-weight:bold;
}

#sides svg {
    margin-top:20px;
}
footer h2 {
    visibility:hidden;
}

footer ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top:35px;
}

footer li {
    color:#eb5428;
    font-weight:bold;
    text-align: center;
}

footer img {
    width: 200px;
    margin-left: 100px;
    margin-bottom: 25px;
}

footer p:first-of-type {
    margin-left: 145px;
    font-weight:bold;
}

footer p {
    margin-left:138px;
    align-content:center;
    font-weight:bold;
}

}

@media screen and (min-width:1200px) {

header,main,footer,nav {
    background-color: #f2f2f2;
    margin:auto;
    width:1280px;
}

nav {
    background-color: #f2f2f2;
    position:fixed;
    top:0;
    left:7.91%;
    width:1280px;
    height: 125px;
    box-shadow: 0 4px 2px -2px gray;
}

nav .dropbtn {
    display:none;
}

nav img {
    width:50px;
    height:50px;
    padding-left:5px;
}


nav li {
    margin-left:30px;
    list-style:none;
    padding:20px;
}

nav a {
    text-decoration: none;
    color:#eb5428;
    font-weight:bold;
}


nav h2 {
    visibility: hidden;
}

nav ul svg{
    width:125px;
    height:125px;
}

nav ul li:first-of-type {
    position:absolute;
    top:-16%;
    left:-4%;
}

nav ul li:last-of-type {
    position:absolute;
    top:-18%;
    right:3%;
    width:75px;
    height:75px;
}


ul li a img{
    display:block;
    padding:5px;
}

nav ul {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left:125px;
}

header h1 {
    padding-left:100px;
    font-size: 40px;
    padding-top: 200px;
}

header h1 {
    padding-left:500px;
    font-size: 40px;
    padding-top: 200px;
}

#search {
    position:absolute;
    align-items:center;
    display:flex;
    margin-inline: auto;
    top: 145px;
    left:35%;
}

#search input {
    border-style: none;
    width: 300px;
    height:40px;
    border: 2px solid #eb5428;
    justify-content:right;
    margin:0;
}

#search button {
    border-style:none;
    margin:0;
    height:40px;
    background-color:#eb5428;
}

menu {
    position: absolute;
    top:29.2%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #f2f2f2;
    width:100px;
    height: 958px;
    border: 2px #eb5428 solid;
    
}
menu li {
    list-style: none;
    display:block;
}

#introduction h2 {
    display:none;
}

#introduction {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height:958px;
    padding-top:25px;
}

main img:first-of-type {
    height:958px;
    width:75%;
    grid-row: 1 / 5;
    grid-column: 1 / 3;

} 

#introduction p:first-of-type {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
}

#introduction p:last-of-type {
    grid-row: 3 / 5;
    grid-column: 3 / 3;
}

#details {
    display:block;
    background-color: #0d0d0d;
    color:#7abfbf;
    padding:10px;
}

#details h2 {
    padding-left:40%;
    margin:10px;
    font-weight: bold;
    grid-row-start: 1;
    grid-row-end: 1;
}

#details dl {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

#details dt {
    grid-row-start: 1;
    grid-row-end: 1;
}

#details dd {
    grid-row-start:2;
    grid-row-end: 2;
}

#Ingredients h2 {
    padding-left:37%;
    margin:5px;
    font-weight: bold;
}

#Ingredients li {
    margin: 5px;
    list-style: square;
}

#Ingredients ul {
    padding-left: 15px;
    margin: 10px;
}

#directions h2 {
    padding-left:37%;
    margin:5px;
    font-weight: bold;
}

#directions ol {
    list-style: decimal;
    padding-left: 15px;
    margin: 10px;
}

#directions li {
    margin: 5px;
}

#sides h2 {
    margin:0;
}

#sides {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 4fr 4fr;
    background-color: #7abfbf;
}

#sides h2 {
    padding-left:25%;
    margin:5px;
    font-weight: bold;
}

#sides section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

#sides img {
    width:100px;
    height:100px;
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 1;
    position:relative;
    top: -25%;
}

#sides h3 {
    grid-column-start:2;
    grid-column-end:2;
    margin-bottom:10px;
}

#sides p {
    margin-bottom: 10px;
}

#sides div h3{
    margin-top:15px;
    font-weight:bold;
}

#sides h3 {
   position:relative;
   top:15%;
   font-weight:bold;
}

#sides svg {
    margin-top:20px;
}
footer h2 {
    visibility:hidden;
}

footer ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-top:35px;
}

footer li {
    color:#eb5428;
    font-weight:bold;
    text-align: center;
}

footer img {
    width: 200px;
    margin-left: 100px;
    margin-bottom: 25px;
}

footer p:first-of-type {
    margin-left: 145px;
    font-weight:bold;
}

footer p {
    margin-left:138px;
    align-content:center;
    font-weight:bold;
}

    
}